*, *::after, *::before {
			box-sizing : border-box;
			font-family: 'Bodoni Moda', serif;
}

body{
	background : black;
	color:black;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height:100vh;
	overflow: hidden;
}

footer{
	margin-top:5%;
	width:100%;
	display: flex;
	justify-content: center;

}


.pageButton a {
	border:1px solid white;
	border-radius:5px;
	padding:1%;
	color:white;
	margin-right:1%;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
}

.pageButton a:hover{
	background-image: url(smiley.png);
	background-repeat: no-repeat;
	background-size: cover;
}