/*GENERAL*/
*, *::after, *::before {
            box-sizing : border-box;
            font-family: 'Bodoni Moda', serif;
}

body{
    background : black;
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    overflow: scroll;
}

footer{
    margin-top:5%;
    width:100%;
    display: flex;
    justify-content: center;

}


.pageButton a {
    border:1px solid white;
    border-radius:5px;
    padding:1%;
    color:white;
    margin-right:1%;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.pageButton a:hover{
    background-image: url(smiley.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HORLOGE */

    .blood{
            position: absolute;
            z-index:9;
            top:22%;
            left:40%;
        }
        
        .clock{
            width:300px;
            height: 300px;
            background-color:#FFF203;
            border-radius: 50%;
            border: 2px solid white ;
            position :relative;
        }

        .clock .number {
            --rotation : 0;
            position: absolute;
            width: 100%;
            height:100%;
            text-align:center;
            transform:rotate(var(--rotation));
            font-size:1.5rem;
        }

        .clock .number1{ --rotation:30deg;}
        .clock .number2{ --rotation:60deg;}
        .clock .number3{ --rotation:90deg;}
        .clock .number4{ --rotation:120deg;}
        .clock .number5{ --rotation:150deg;}
        .clock .number6{ --rotation:180deg;}
        .clock .number7{ --rotation:210deg;}
        .clock .number8{ --rotation:240deg;}
        .clock .number9{ --rotation:270deg;}
        .clock .number10{--rotation:300deg;}
        .clock .number11{--rotation:330deg;}

        .clock .hand{
            --rotation: 0;
            position:absolute;
            bottom:50%;
            left:50%;
            border:1px solid white;
            border-top-right-radius:10px;
            border-top-left-radius:10px;
            transform-origin : bottom;
            z-index:10;
            transform : translateX(-50%) rotate(calc(var(--rotation)* 1deg));
        }

        .clock::after{
            content:'';
            position:absolute;
            background-color:black;
            z-index:11;
            width :15px;
            height:15px;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:50%;
        }

        .clock .hand.second{
            width:3px;
            height:45%;
            background-color:red;
        }

        .clock .hand.minute{
            width:7px;
            height:40%;
            background-color:black;
        }

        .clock .hand.hour{
            width:10px;
            height:35%;
            background-color:black;
        }


/* MINUTEUR */

            .timer{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color:black;
                padding:2%;
            }

            main h1{color: #FFF203;}

            .labelInput label {
                color: white;
            }

            .time{
                color:#FFF203;
                text-align: center;
                font-size:30px;

            }

            .countdown{
                display:flex;
                flex-direction: column;
                align-items: center;

            }

            .numberTimer {
                display:flex;
                align-content: bottom;
                margin-bottom:15%;
            }

            .numberTimer p{
                margin-top:0;
                margin-bottom:0;
                margin-right:1%;
                margin-left:1%;
                color:white;
            }

            .labelInput{
                display: flex;
                flex-direction: column;
            }

            .colon{
                display: flex;
                align-items: flex-end;
                margin-right:2%;
                margin-left:2%;
            }

            .button{
                background-color: black;
                border-color:white;
                border-radius:5px;
                color: white;
            }

            .button:hover{
                transition: .5s;
                border-color:#FFF203;
                color:#FFF203;
            }

            #resetTimerButton{
                display: none;
            }

/*CHRONO*/


/*body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    min-height: 40vh;
}*/

.controls {

    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-light {

    margin: 3px;
    font-size: 18px;
    color: black;
}

.btn-light:hover{

    color: #dd3a3a;
}

.stop {

    font-size: 9em;
    font-family: "Roboto Medium";
    color: #ffe51e;
}

.laps {

    color: #dd3a3a;
    font-size: 25px;
}

ul li {

    list-style: none;
    padding: 10px 0;
}

/* ALARME */

#alarmOption {

    display: none;
}

.block {

    display: flex;

}

.input_text {

    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;

}

.btn {

    margin-left: 5px;
}

